@model  Preguntado.Models.ViewModel.ViewModelGrillaUsuario
@{
    ViewBag.Title = "Listado de Actores";
}

<div class="page-layout carded full-width single-scroll">

    <div class="top-bg bg-deep-purple-100 "></div>

    <!-- CONTENT -->
    <div class="page-content-wrapper">

        <!-- HEADER -->
        <div class="page-header light-fg row no-gutters align-items-center justify-content-between">

            <!-- APP TITLE -->
            <div class="col-12 col-sm">

                <div class="logo row no-gutters justify-content-center align-items-start justify-content-sm-start">

                    <div class="logo-text">
                        <div class="h4">Listado de Usuarios</div>
                    </div>
                </div>
            </div>
            <!-- SEARCH -->
            <div class="col search-wrapper px-2">

                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-icon">
                            <i class="icon icon-magnify"></i>
                        </button>
                    </span>
                    <input id="cliente-search-input" type="text" class="form-control" placeholder="Buscar" aria-label="Search" />
                </div>


                <!-- / SEARCH -->

            </div>
            <!-- / APP TITLE -->
            <div class="col-auto">
                <a href="/Usuario/Create" class="btn btn-light">NUEVO USUARIO</a>
            </div>

        </div>
        <!-- / HEADER -->

        <div class="page-content-card p-10">
            @if (User.IsInRole("Administrador") == true)
            {

                <div class="form-row mt-2">
                    <div class="col-md-6 form-group">
                        <input id="Nombre" name="Nombre" class="form-control" type="text" value="" />
                        <label for="Name" class="col-form-label">Nombre</label>
                    </div>
                    <div class="col-md-6 form-group">
                        <input id="mail" name="Nombre" class="form-control" type="text" value="" />
                        <label for="Name" class="col-form-label">mail</label>
                    </div>
                </div>

                           
                            <div class="form-row mt-2 justify-content-center" style="text-align:center;width:100%">
                                <button class="btn btn-primary" id="btnFiltrar">Filtrar</button>
                            </div>
            }
            <table id="cliente-data-table" class="table">
                <thead>
                    <tr>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Nombre</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">NickName</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">mail</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Role</span>
                            </div>
                        </th>

                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Acciones</span>
                            </div>
                        </th>

                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Nombre</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">NickName</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">mail</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Role</span>
                            </div>
                        </th>

                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Acciones</span>
                            </div>
                        </th>

                    </tr>
                </tfoot>
            </table>

        </div>

    </div>
</div>

@section Scripts {
    <link href="~/assets/DataTables-1.10.15/media/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/assets/DataTables-1.10.15/media/js/jquery.dataTables.min.js"></script>



    <script>
        $(document).ready(function () {
         $("#btnFiltrar").click(function () {
             var nombre = $("#Nombre").val();
             var mail = $("#mail").val();
             //var fechadesde = $("#FechaNacdesde").val();
             //var fechahasta = $("#FechaNachasta").val();
             //var generoseleccionado = $("#GeneroSeleccionado").children("option:selected").val();

             table.ajax.url('@Url.Action("GetData", "Usuario")' + '?nombre=' + nombre + '&Mail=' + mail ).load();

            });

            function RefrescarClicksDelete() {
                $('.btnEliminar').off();
                $('.btnEliminar').on('click', function () {
                    var id = $(this).attr('id');
                    swal({
                        title: "¿Está seguro de que desea eliminar este registro?",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Sí",
                        cancelButtonText: "No",
                        closeOnConfirm: false
                    }, function () {

                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("Delete", "Usuario")',
                            dataType: 'json',
                            data: { Id: id }
                            ,
                            success: function (result) {
                                swal("¡Eliminado!", "El registro fue eliminada.", "success");
                                table.ajax.reload();
                            },
                            error: function (error) {
                                swal("¡Error!", "El registro no fue eliminada.", "error");
                            }
                        });
                    });
                });
            }

            var table = $('#cliente-data-table').DataTable({
                language: {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                "searching": false,
                "processing": true,
                "serverSide": true,
                "ajax": '@Url.Action("GetData", "Usuario")',
                "columns": [
                    {
                        "data": "Nombre",
                        "searchable": true,
                        "orderable":true
                    },
                    {
                        "data": "NickName",
                        "searchable": true,
                        "orderable": true
                    },
                    {
                        "data": "mail",
                        "searchable": true,
                        "orderable": false,
                         "width": "10%"
                    },
                    
                    {
                        "searchable": false,
                        "orderable": false,
                        "mRender": function (data, type, row) {

                            var button = ' <td> <ul>';
                            for (j = 0; j < row.roles.length; j++) {
                                button += '<li>' + (row.roles[j]) + '</li> '
                            }
                            button += ' </ul> </td>'
                            return button;
                        }
                    },
                     
                    {
                        "searchable": false,
                        "orderable": false,
                        "mRender": function (data, type, row) {
                            var urlEdit = '@Url.Action("Edit", "Usuario")' + '/';
                            var button = '<a class="btn btn-default" href="' + (urlEdit + row.Id) + '">Editar</a><button class="btn btn-danger btnEliminar" id="' + row.Id + '">Eliminar</button>'
                            return button;
                        }
                    }
                ],
                "drawCallback": function (settings, json) {
                    console.log('draw!');
                    RefrescarClicksDelete();
                }

            });




            })
    </script>

}




